*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
}

#nav{
    height: 80px;
    width: 100%;
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

#navpart1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;

}

.circle{
    height: 23px;
    width: 23px;
    background-color:black;
    border-radius: 50%;
}

#navpart2{
      display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

}

#navpart2 h4{
    font-size: 16px;
    font-weight: 600;
}

#navpart2 h4 span{
    color: grey;
    margin-left: 25px;
}

#nav2{
    height: 70px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 0 50px;
    gap: 90px;
}

#nav2 h3{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;

}

#content{
    height: calc(100% - 150px);
    width: 100%;
    /* background-color: aqua ; */
}

#text-content{
    height: 49.5%;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    /* flex-wrap: nowrap; */
    overflow-x: auto;
}

#text-content::-webkit-scrollbar{
    /* display: none; */
    background-color: transparent;
}

#text-content::-webkit-scrollbar-thumb{
    background-color: rgb(96, 90, 90);
}

.elem{
    height: 100%;
    width: 50%;
    /* background-color: red; */
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.elem h1{
    font-size: 130px;
    font-weight: 300;
}

#img-content{
    height: 50%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    overflow-x: auto;
}
#img-content::-webkit-scrollbar{
    display: none;
}
#img-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}